@import "tailwindcss";
@font-face {
    font-family: 'NeoDonggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: 'NeoDonggeunmo';
}
/*
눈누 사이트의 둥근모 폰트 복사하여 붙혀넣고
프로젝트 전체 글꼴 변경 반영
*/